.app-container-notes{
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Main content (right of sidebar) */
.main-content-notes{
  flex: 1;
  display: flex;
  padding: 0 20px;
  position: relative;
}

/* 30% left area of main content */
.left-pane {
  width: 25%;
  padding-right: 10px;
}

/* Vertical divider */
.divider-line {
  width: 2px;
  background-color: #ccc;
  height: 100%;
}

/* 70% right area of main content */
.right-pane {
  flex: 1;
  padding-left: 10px;
}
